/* app/globals.css */
@import "tailwindcss";

@import "./styles/base/variables.css";
@import "./styles/base/root.css";
@import "./styles/base/dark.css";

@import "./styles/utilities/animations.css";
@import "./styles/utilities/shadows.css";
@import "./styles/utilities/colors.css";
@import "./styles/utilities/scrollbar.css";

@import "./styles/components/planets.css";
@import "./styles/components/stars.css";

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    border-color: var(--border);
  }
  
  body {
    background-color: var(--background);
    color: var(--foreground);
    min-height: 100vh;
  }

  html {
    font-family: system-ui, -apple-system, sans-serif;
  }
}
@theme inline {
  --font-unica: var(--font-unica);
}
